mat-card {
	//max-width: 100%;
	margin: 16px auto;
	//width: 100%;
}

mat-card-content {
	padding: 16px;
}
mat-card-header {
	padding: 8px;
}
.content-padding {
	padding: 16px;
}
.image-padding {
	padding: 16px;
	width: 100%;
}

