.wide-textarea {
  width: 100%;
  max-width:100%;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
}

mat-card {
	max-width: min(400px, 100%);
	margin: 16px;
  justify-content: center;
	//width: 100%;
}

mat-card-content {
	padding: 16px;
	padding-bottom: 4px
}
mat-card-header {
	padding: 8px;
}
.content-padding {
	padding: 16px;
}
.image-padding {
	padding: 16px;
	width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  //gap: 8px;
}
